<div id="<%= dom_id instrument %>">
  <p>
    <strong>Title:</strong>
    <%= instrument.title %>
  </p>

  <p>
    <strong>Condition:</strong>
    <%= instrument.condition %>
  </p>

  <p>
    <strong>Employee:</strong>
    <%= instrument.employee_id %>
  </p>

</div>
